In [1]:
import pandas as pd
# Path to the Excel file
excel_file_path = '/home/maryam.arjemandi/ai701/Ai701/photos/eyePACStest/trainLabels.csv' 

# Folder paths
source_folder = '/home/maryam.arjemandi/ai701/Ai701/photos/eyePACStest/train/'
destination_folder = '/l/users/maryam.arjemandi/ai701/Ai701/photos/eyePACStest/train grade/grade 0/'

# Read the Excel file
df = pd.read_csv(excel_file_path)
df

             image  level
0          10_left      0
1         10_right      0
2          13_left      0
3         13_right      0
4          15_left      1
...            ...    ...
35121  44347_right      0
35122   44348_left      0
35123  44348_right      0
35124   44349_left      0
35125  44349_right      1

[35126 rows x 2 columns]